.overhead {
    background-color: white !important;
    color: gray !important;
    overflow: hidden;
    word-wrap: normal !important;
	
}
.import-tbl{
	background-color: white;
	background-position: 0 -75px;
	height: 8px;
	cursor:pointer;
}
.table-menu{
width:48px !important;
}

.templates-menu{
width:66px !important;
}


#matrix_table tr td {
    border: 1px solid grey;
    height: 1px;
    padding: 3px;
    width: 11px;
}
#matrix_table tr td.selected {
    background-color: rgb(179,212,255);
}

.ft {
    background-color: HoneyDew;
}

.yui-module .ft {
    background-color: #FFFFFF;
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    margin: 0 -1px;
/*    min-height: 300px;
    min-width: 600px; */
}
.yui-picker-controls, .yui-picker-swatch, .yui-picker-websafe-swatch {
    /*display: none;*/
}
.color-picker-button {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    display: inline-block;
    height: 1em;
    margin-top: 0.5em;
    overflow: hidden;
    text-indent: 1em;
    white-space: nowrap;
    width: 1em;
}
.tbl-prop-menu, .img-prop-dim {
    padding-left: 20px;
}
.tbl-prop-label-td {
    height: 33px;
}
.tbl-prop-menu-header {
    color: black;
    cursor: default;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 16px;
    padding-left: 170px;
}
.left-tbl-props {
    padding-right: 60px;
    vertical-align: top;
}
.tbl-inline-block {
    display: inline-block;
    position: relative;
}
.tbl-prop-label {
    font-weight: bold;
    padding-top: 17px;
}
.tbl-prop-dim, .img-prop-dim {
    border-collapse: collapse;
}
.tbl-prop-dim-label {
    padding: 8px 0 7px;
}
.text-input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: silver #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
.td-spacer {
    width: 30px;
}
.select-font-spacer {
    width: 70px;
}
.last_oh_cell {
}
.error-message {
    color: red;
    padding-top: 5px;
}
.upload-image {
    width: 40px !important;
}
#yui-picker-panel .ft{
 min-height: 0;
 min-width: 0;
 background-color:white ;
}

#yui-picker-panel .bd,#yui-tbl-prop-panel .bd {
    background-color: white;
}
#yui-tbl-prop-panel .ft{
	display:none;
}

.tbl-icon{
    	background-image: url("../html/tbl-icon.png") !important;
	background-size: 44px 24px !important;
	background-position: 130px 23px !important;
	width: 38px;
	height: 18px;
}

#text_input_message{
	background-color:green;
}

#img_properties{
	display:none;		
}
