<li class="separator"></li>
<li class='table-menu'>
	<a title="Table" id='table-menu-button'>
		<button class="buttonicon buttonicon-table"></button>
	</a>
</li>

<div id="table-context-menu" class="popup">
   <ul>
      <li class="menu-item" id="tbl_prop_create_table"><a href="#create-table-container" data-l10n-id="ep_tables2.menuCreateTable"></a></li>
   </ul>
   <ul>
      <li class="menu-item" id="tbl_prop_insert_row_above" data-action="addTblRowA"><a href="#" data-l10n-id="ep_tables2.menuInsertRowAbove"></a></li>
      <li class="menu-item" id="tbl_prop_insert_row_below" data-action="addTblRowB"><a href="#" data-l10n-id="ep_tables2.menuInsertRowBelow"></a></li>
      <li class="menu-item" id="tbl_prop_insert_col_right" data-action="addTblColL"><a href="#" data-l10n-id="ep_tables2.menuInsertColumnRight"></a></li>
      <li class="menu-item" id="tbl_prop_insert_col_left" data-action="addTblColR"><a href="#" data-l10n-id="ep_tables2.menuInsertColumnLeft"></a></li>
   </ul>
   <ul>
      <li class="menu-item" id="tbl_prop_delete_row" data-action="delTblRow"><a href="#" data-l10n-id="ep_tables2.menuDeleteRow"></a></li>
      <li class="menu-item" id="tbl_prop_delete_col" data-action="delTblCol"><a href="#" data-l10n-id="ep_tables2.menuDeleteColumn"></a></li>
      <li class="menu-item" id="tbl_prop_delete_table" data-action="delTbl"><a href="#" data-l10n-id="ep_tables2.menuDeleteTable"></a></li>
   </ul>
   <!-- <ul>
      <li class="menu-item" id="tbl_prop_menu_item"><a href="#" data-l10n-id="ep_tables2.menuTableProperties"></a></li>
   </ul> -->
   <ul>
      <li class="menu-item" id="tbl_prop_menu_hide"><a href="#" data-l10n-id="ep_tables2.menuCloseThisMenu"></a></li>
   </ul>

   <div id="create-table-container" class="popup">
      <div id="new-table-size">0 X 0</div>
      <table id="new-table-size-selector">
         <tbody>
         <% for(var i=1; i<11; i++) {%>
            <tr value="<%= i %>">
              <% for(var j=1; j<21; j++) {%>
                <td value="<%= j %>"></td>
              <% } %>
            </tr>
         <% } %>                       
         </tbody>
      </table>
   </div>
</div>

